@charset "UTF-8";

.wrapper {
  margin: 0 auto;
}
.contents {
  background-color: #fff;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.contents-inner {
  width: 1100px;
  margin: 0 auto;
  background-color: #fff;
}
.bolt {
  text-align: left;
  color: #4e4e4e;
  display: inline-block;
  padding: 15px 0;
  float: left;
}
.contact {
  text-align: right;
  float: right;
}
.contact-btn {
  background-color: #74cfae;
  color: #fff;
  padding: 14px 12px;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  transition: all .3s;
  opacity: 0.7;
}
.contact-btn:hover {
  transition: all .3s;
  opacity: 1;
}
.main-theme {
  background-color: #f2f2f2;
}
.main-theme-inner {
  background-color: #f2f2f2;
  width: 1100px;
  margin: 0 auto;
}
.main-theme-text {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  padding: 250px 0 0 0;
  text-align: center;
  font-family: "PT Sans";
}
.main-theme-text-sub {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
  padding: 0 0 250px 0;
  text-align: center;
}
.contents-text {
  background-color: #74cfae;
  color: #fff;
  font-size: 0;
  text-align: center;
}
.contents-text-inner {
  width: 1100px;
  margin: 0 auto;
}
.phone-img-box {
  padding: 50px 0 0 0;
  width: 40%;
  display: inline-block;
}
.contents-text-theme {
  width: 55%;
  display: inline-block;
  vertical-align: top;
  margin-top: 80px;
}
.theme-text {
  font-size: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIYqWqhPANqczVsq4A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
.theme-text-sub {
  font-size: 20px;
  margin-top: 35px;
}
.pictures-box {
  background-color: #f2f2f2;
}
.pictures-box-title-text {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  color: #c0c0c0;
  padding: 60px 0 40px 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIYqWqhPANqczVsq4A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
.pictures-box-img {
  font-size: 0;
  background-color: #f2f2f2;
}
.pictures-box-img-top {
  width: 1100px;
  margin: 0 auto;
}
.picture-top {
  margin-bottom: 80px;
  margin-left: 100px;
}
.picture-top:first-child {
  margin-left: 0;
}
.pictures-box-img-bottom {
  width: 1100px;
  margin: 0 auto;
}
.picture-bottom {
  margin-right: 100px;
}
.picture-bottom:last-child {
  background-color: #f2f2f2;
  margin-right: 0;
}
.pictures-text {
  background-color: #f2f2f2;
  text-align: center;
}
.pictures-box-inner {
  width: 50%;
  display: inline-block;
}
.pictures-box-inner-text {
  font-size: 20px;
  color: #c0c0c0;
  padding: 90px 90px 70px 0;
  text-align: center;
}
.email-btn {
  display: inline-block;
  vertical-align: top;
  margin-top: 90px;
}
.email-btn-text {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  opacity: 0.7;
  transition: all .3s;
}
.email-btn-text:hover {
  opacity: 1;
  transition: all .3s;
}

.ourskills {
  background-color: #4e4e4e;
  text-align: center;
  padding: 70px 0 100px 0;
}
.ourskills-title {
  margin-bottom: 50px;
}
.ourskills-title-text {
  color: #fff;
  font-size: 24px;
}
.ourskills-image {
}
.image-data {
  margin-right: 180px;
  display: inline-block;
}
.image-data:last-child {
  margin-right: 0;
}
.image-data-text {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
.contents-sns {
  background-color: #f2f2f2;
  padding: 200px 0;
  text-align: center;
}
.icons {
  background-color: #f2f2f2;
  display: inline-block;
  cursor: pointer;
  width: 185px;
  text-align: center;
  opacity: 0.7;
  color: #74cfae;
  transition: all .3s;
}
.icons:hover {
  background-color: #fff;
  transition: all .3s;
  opacity: 1;
}
.contents-bottom {
  background-color: #74cfae;
  height: 60px;
}
.footer-inner {
  width: 1100px;
  margin: 0 auto;
}
.contents-bottom-text {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 20px 0 25px 0;
  text-align: right;
}