@charset "UTF-8";
body {
  font-family: Raleway;
}
.clearfix::before,
.clearfix::after{
  display:block;
  clear:both;
  content:"";
}
/*こいつらは特にいらない。（全部につける必要はなくて、必要な箇所にそれぞれつければ大丈夫）
font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIYqWqhPANqczVsq4A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;*/

.wrapper {
}
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.main {
  padding-top: 78px;
}
.inner {
  width: 1100px;
  margin: 0 auto;
}
.bolt {
  text-align: left;
  color: #4e4e4e;
  display: inline-block;
  padding: 15px 0;
}
.contact {
  float: right;
}
.contact-btn {
  display: inline-block;
  color: #fff;
  margin-top: 15px;
  text-decoration: none;
  padding: 14px 12px;
  background-color: #74cfae;
  transition: all .3s;
  opacity: 0.7;
}
.contact-btn:hover {
  opacity: 1;
}
.bolt-title {
  background-color: #f2f2f2;
}
.bolt-inner {
  padding:250px 0;
  width: 1100px;
  margin: 0 auto;
}
.bolt-inner-text {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  text-align: center;
  font-family: "PT Sans";
}
.bolt-inner-text-sub {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
}
.about {
  background-color: #74cfae;
  color: #fff;
  font-size: 0;
  text-align: center;
}
.about-text {
  padding-top: 50px;
}
.phone-img-box {
  width: 40%;
  display: inline-block;
}
.about-title {
  width: 55%;
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
}
.about-title-text {
  font-size: 24px;
}
.about-title-text-sub {
  font-size: 20px;
  margin-top: 35px;
}
.work {
  background-color: #f2f2f2;
}
.work-inner {
  padding: 60px 0 70px;
}
.work-title-text {
  text-align: center;
  font-size: 24px;
  color: #c0c0c0;
  padding-bottom: 40px;
}
.work-title-img {
  font-size: 0;
  background-color: #f2f2f2;
}
.work-title-btn {
  display: inline-block;
  transition: all .3s;
  opacity: 0.7;
  margin-left: 100px;
  z-index: 0;
}
.work-title-btn:hover {
  opacity: 1;
}
.work-title-btn:nth-child(1),:nth-child(4) {
  margin-left: 0;
}
.work-title-btn:nth-child(3) {
  margin-bottom: 80px;
}
.work-bottom-inner {
  margin-top: 90px;
  text-align: center;
}
.work-bottom-inner-text {
  font-size: 20px;
  color: #c0c0c0;
  display: inline-block;
  width: 40%;
}
.email-btn {
  display: inline-block;
  width: 55%;
  vertical-align: top;
}
.email-btn-text {
  display: inline-block;
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  opacity: 0.7;
  transition: all .3s;
}
.email-btn-text:hover {
  opacity: 1;
}
.email-btn-text {
  color:#fff;
  text-decoration: none;
}
.ourskills {
  background-color: #4e4e4e;
  text-align: center;
}
.ourskills-inner {
  padding: 70px 0 100px;
}
.ourskills-title {
  margin-bottom: 50px;
}
.ourskills-title-text {
  color: #fff;
  font-size: 24px;
}
.image-data {
  margin-right: 180px;
  display: inline-block;
}
.image-data:last-child {
  margin-right: 0;
}
.image-data-text {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
.icons-sns {
  background-color: #f2f2f2;
  text-align: center;
}
.icons-sns-inner {
  padding: 200px 0;
}
.icon {
  background-color: #f2f2f2;
  display: inline-block;
  text-align: center;
  transition: all .3s;
}
.icon:hover {
  background-color: #fff;
}
.sns-icon {
  text-decoration: none;
  color: #74cfae;
  padding: 20px 0;
  width: 185px;
}
.footer {
  background-color: #74cfae;
}
.footer-inner {
  padding: 20px 0 25px;
}
.contents-bottom-text {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  text-align: right;
}
